/* .default-content-wrapper {
    text-align: center;
}

.default-content-wrapper h2 {
    font-family: Whitney-Bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.4px;
}

.default-content-wrapper p {
    font-family: Whitney-Book;
    font-size: 52px;
    line-height: 54px;
    color: var(--heading-color);
} */

.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 32px;
    background-color: var(--background-color);
    padding-bottom: 30px;
}

.cards > ul > li {
    border: 0px solid var(--highlight-background-color);
}

.cards .cards-card-body::before {
    background-color: var(--card-background-color);
  }

.cards .cards-card-body {
    margin: 0px;
    padding: 32px;
    font-family: Whitney-Book;
    color: var(--card-text-color);
    background: url("../../icons/carot-redpromo-quilt.svg") no-repeat;
    background-color: var(--card-background-color);
    background-position: 92% 50%!important;
}

.row .cards-card-body .cards-card-body-underline {
    display: block;
    width: 5.125rem;
    margin: 1.5rem 0;
    text-align: left;
    border: 0;
    border-bottom: 0.1875rem solid #e3132c;
}

.cards .cards-card-body > p {
    width: 92%
}

.cards .cards-card-image {
    line-height: 0;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
    font-size: 16px;
    font-family: Whitney-Bold;
}

.cards > ul > li img {
    width: 100%;
    object-fit: cover;
}

.row ul {
    /* grid-template-columns: none; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.row > ul > li {
    display: flex;
    flex-wrap: nowrap;
    /* width: 100%; */
    /* margin-bottom: 32px; */
    /* padding-bottom: 30px; */
}

.row .cards-card-image {
    /* width: 54%; */
    /* background-size: cover; */
}

.row .cards-card-body {
    width: 100%;
}

.row .cards-card-body > *:first-child {
    font-family: WhitneyCondensed-Semibold;
    letter-spacing: 1.4px;
}