.cards {
    margin: 50px auto;
}

.cards > ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 32px;
    max-width: 1200px;
    justify-content: center;
}

.cards > ul > li {
    background-color: var(--overlay-background-color);
}

.cards .cards-card-body {
    position: relative;
    cursor: pointer;
    background: url("../../icons/carot-redpromo-quilt.svg") no-repeat;
    background-position: 92% 50%!important;
    padding: 30px 30px 20px 30px;
    font-family: var(--body-font-family);
    color: var(--heading-color);
}

.cards .cards-card-body p {
    padding-right: 30px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
    font-size: 16px;
    font-family: var(--heading-bold-font-family);
    color: var(--heading-color);
}

.cards .cards-card-body > *:first-child > a {
    color: var(--heading-color);
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}