.tab-wrapper {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.tab {
  display: flex;
  align-items: center;
  margin-left: 30%;
  width: 100%;
}

.tab p {
  font-family: var(--heading-font-family);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.125rem;
  color: var(--color-delta-blue);
  padding: 10px;
}

.text {
  display: none;
}

.text.active {
  display: block;
}


@media (min-width: 992) {
  .header {
    height: 100%;
  }
  
}