/* block specific CSS goes here */

main .hero-container > div {
  max-width: unset;
}

main .section.hero-container {
  padding: 0;
  max-width: unset;
}

main .hero div,
main .hero picture {
  display: block;
  width: 100%;
  height: 324px;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  main .hero div,
  main .hero picture {
    height: 288px;
  }
}

@media (min-width: 992px) {
  main .hero div,
  main .hero picture {
    height: 192px;
  }
}

@media (min-width: 1200px) {
  main .hero div,
  main .hero picture {
    height: 240px;
  }
}

@media (min-width: 1440px) {
  main .hero div,
  main .hero picture {
    height: 288px;
  }
}

@media (min-width: 1600px) {
  main .hero div,
  main .hero picture {
    height: 320px;
  }
}
