.accordion-wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
}

.accordion-section {
    padding: 1.5rem 1rem;
    border-top: .0625rem solid var(--color-delta-gray-middle);
}

.accordion-section > h1,
.accordion-section > h2,
.accordion-section > h3,
.accordion-section > h4,
.accordion-section > h5,
.accordion-section > h6 {
    margin: 0;
}

.accordion .text {
    padding-top: 1rem;
}

.accordion .text p {
    color: var(--color-delta-blue);
    padding: 1rem 0;
}

.accordion .text button {
    min-width: 20rem;
    width: 20rem;
    white-space: normal;
    margin: 5px;
}

.accordion .header {
    position: relative;
    color: var(--color-delta-blue);
    font-family: var(--body-font-family);
    font-size: var(--heading-font-size-l);
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
}

.accordion .header figure {
    margin: 0;
}

.accordion .header figcaption {
    font-size: 1.75rem;
}

.accordion .header p:last-child {
    font-size: 1.4rem;
    width: 80%;
    margin-bottom: 0;
}

.accordion .header picture {
    margin-right: 1rem;
}

.accordion .header h3 {
    max-width: 88%;
    font-size: 1.6rem;
}

.accordion .header:hover {
    cursor: pointer;
}

.accordion .header.is-multiline {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem 0;
}

.accordion .header.is-multiline br {
    display: none;
}

.accordion .header.is-multiline strong {
    font-family: var(--heading-font-family-alt);
    font-size: var(--body-font-size-l);
    letter-spacing: 1.3px;
}

.accordion button[aria-expanded] {
    position: relative;
    padding: 0 3rem 0 0;
    border: none;
    text-align: left;
    width: 100%;
}

.accordion button[aria-expanded]:focus,
.accordion button[aria-expanded]:hover {
    background: inherit;
}

.accordion button[aria-expanded]::after {
    content: '';
    border: 1px solid var(--color-delta-red); 
    border-width: 2px 2px 0 0; 
    transform: rotate(135deg);
    color: var(--color-delta-red);
    height: 11px;
    width: 11px;
    display: block;
    position: absolute;
    right: 20px;
    top: 40%;
}

.accordion button[aria-expanded="true"]::after {
    transform: rotate(315deg);
    top: 45%;
}

.accordion-wrapper [role="group"] {
    text-align: right;
}

.accordion-wrapper [role="group"] button {
    position: relative;
    appearance: none;
    border: none;
    background: none;
    margin: 1rem 0 1rem 1rem;
    min-width: 4rem;
    padding: 0;
    text-transform: none;
    letter-spacing: 1.5px;
    color: var(--link-color);
    font-family: var(--button-font-family);
    text-decoration: none;
    overflow: visible;
    width: auto;
}

.accordion-wrapper [role="group"] button:first-child::after {
    position: absolute;
    content: '';
    height: 1rem;
    right: -.5rem;
    top: 50%;
    border-right: 2px solid;
    transform: translateY(-.5rem);
}

.accordion-wrapper [role="group"] button:hover {
    text-decoration: underline;
}

.accordion-wrapper [role="group"] button:disabled {
    font-family: var(--heading-font-family);
    text-decoration: none;
}

.accordion-wrapper [role="group"] button:disabled:hover {
    background: none;
}

.accordion .tertiary.highlight {
    color: var(--link-color);
}

@media (min-width: 768px) {
    .accordion .header,
    .accordion .header figure {
        display: flex;
        align-items: center;
    }

    .accordion .header figure {
        gap: 0 1rem;
    }

    .accordion .header figcaption {
        padding-top: 0;
    }

    .accordion .header p:nth-child(2){
        font-size: 1.4rem;
        width: 70%;
    }
}

@media (min-width: 992px) {
    .accordion .header {
        border: none;
        padding: 0;
        box-sizing: border-box;
    }

    .accordion button[aria-expanded]:focus {
        outline: 2px solid var(--color-delta-blue);
        border-radius: 5px;
    }

    .accordion .header p:first-child {
        padding-top: 15px;
    }
}