.columns-container {
    margin-bottom: 3rem;
}

.columns > div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.columns picture {
    display: block;
}

.columns img {
    width: 50%;
}

.columns p {
    line-height: 2rem;
}

@media (min-width: 768px) {
    .columns img {
        width: auto;
        object-fit: scale-down;
    }

    .columns picture {
        height: 6rem;
    }

    .columns > div {
        display: flex;
        align-items: flex-start;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
        margin-left: 2rem;
        margin-bottom: 1rem;
    }

    .columns > div > div > p > a > figure {
        margin-left: 10px;
        margin-right: 10px;
    }

    .columns > div > div > p > a > figure > figcaption {
        font-size: 16.5px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 170px;
    }

    .columns > div > div > h3 {
        font-size: 17px;
        width: 150px;
        margin: 0 auto;
        margin-bottom: 50px;
        line-height: 25px;
        margin-top: 30px;
    }
}

@media (min-width: 992px) {
    .columns > div > div > p > a > figure > figcaption {
        font-size: 18.5px;
        width: 220px;
    }

    .columns > div > div > h3 {
        font-size: 20px;
        width: 240px;
        margin-top: 30px;
        line-height: 27px;
    }
}

@media (min-width: 1200px) {
    .columns > div > div > h3 {
        width: 300px;
    }
}