/* header and nav layout */

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--background-color);
  border-bottom: 1.5px solid var(--color-delta-gray-middle2);
  z-index: 3;
}

.header-wrapper > .header {
  background-color: var(--color-delta-blue-dark);
  min-height: 46px;
}

main {
  margin-top: var(--nav-height);
}

.nav-wrapper {
  position: fixed;
  width: 100%;
  max-width: 100vw;
  z-index: 3;
  border-bottom: 1px solid var(--color-delta-blue-middle);
  background-color: var(--highlight-background-color);
}

@media (min-width: 992px) {
  .header-wrapper > .header {
    min-height: 76px;
  }
}


/* stylelint-disable-next-line selector-class-pattern */
header-app-wrapper .calenderDepartSpan[aria-hidden] {
  display: block;
}
