.header-bar {
  display: grid;
  grid-template:
    "toggle tools" min-content
    "links links" 1fr / min-content 1fr;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.header-bar button:focus-visible,
.header-bar .button:focus-visible {
  background-color: var(--color-delta-blue-middle);
  box-shadow: 0 0 0 2px var(--color-delta-gray);
  outline: none;
  border-radius: 3px;
}

.header-bar .cta:focus-visible {
  box-shadow: 0 0 0 3px rgba(229 25 55 50%)
}

.header-bar p,
.header-bar ul {
  margin: 0;
  padding: 0;
}

.header-wrapper .button-container {
  display: flex;
  align-items: center;
  font-family: var(--heading-font-family-alt);
  font-size: var(--body-font-size-s);
  line-height: var(--body-font-size-xxs);
}

.header-wrapper button,
.header-wrapper .button {
  margin: 0;
  padding: .375rem;
  min-width: auto;
  border: none;
  background: none;
  color: var(--text-color-inverted);
  font-family: var(--heading-font-family-alt);
  font-size: var(--body-font-size-s);
  letter-spacing: normal;
  line-height: var(--body-font-size-xxs);
}

.header-wrapper button.cta,
.header-wrapper .button.cta {
  padding: .375rem .75rem;
  background: var(--color-delta-red);
}

.header-wrapper button svg,
.header-wrapper .button svg {
  height: 18px;
  width: 18px;
  fill: var(--text-color-inverted);
}

.header-toggle {
  grid-area: toggle;
  box-sizing: border-box;
  padding: .5rem;
  height: 47px;;
  border-bottom: 1px solid var(--color-delta-blue-middle);
  background-color: var(--color-delta-blue-dark);
}

.header-toggle button[aria-expanded="true"] .icon-hamburger {
  display: none;
}

.header-toggle button[aria-expanded="false"] .icon-x {
  display: none;
}

.header-brand {
  grid-area: brand;
}

.header-brand .button:first-child {
  display: none;
}

.header-links {
  grid-area: links;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2rem;
  background-color: var(--color-delta-blue-dark);
  transition: transform .3s ease;
  transform: translateX(-100%);
}

.header-links[aria-hidden="false"] {
  display: flex;
  height: calc(100vh - 47px);
  overflow-y: auto;
}

.header-brand button,
.header-brand .button,
.header-tabs button,
.header-tabs .button,
.header-menus button,
.header-menus .button {
  display: block;
  width: 100%;
  padding: 1.5rem;
  text-align: left;
  border-bottom: 1px solid var(--color-delta-blue-middle);
  font-family: var(--button-font-family);
}

.header-menus button,
.header-menus .button {
  border: none;
}

.header-menus ul {
  list-style: none;
}

.header-menus img {
  display: none;
}

.header-menus button[aria-expanded] {
  position: relative;
}

.header-menus button[aria-expanded] .icon {
  position: absolute;
  top: 1.3rem;
  right: 1.5rem;
}

.header-menus button[aria-expanded] + div {
  transition: max-height .3s ease, padding .3s ease;
  overflow: hidden;
}

.header-menus button[aria-expanded="true"] .icon {
  transform: rotate(180deg);
}

.header-menus button[aria-expanded] .icon svg {
  width: 11px;
}

.header-menus [role="menuitem"] {
  border-bottom: 1px solid var(--color-delta-blue-middle);
}

.header-menus [role="menuitem"] li {
  display: block;
  padding: 0;
}

.header-menus [role="menuitem"] li br {
  display: none;
}

.header-menus [role="menuitem"] a {
  display: block;
  padding: .5rem 1.5rem;
}

.header-menus [role="menuitem"] > div > ul {
  padding: 1.5rem 0 0;
}

.header-menus [role="menuitem"] > div > ul > li a {
  color: var(--text-color-inverted);
  font-family: var(--body-medium-font-family);
}

.header-menus [role="menuitem"] > div > ul > li + li a {
  color: var(--color-delta-gray-middle);
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-xxs);
}

.header-help {
  grid-area: help;
  margin-top: auto;
  align-self: center;
}

.header-help .button {
  padding: 1.5rem;
  font-family: var(--button-font-family);
}

.header-tools {
  grid-area: tools;
  display: flex;
  box-sizing: border-box;
  padding: .5rem;
  height: 47px;;
  border-bottom: 1px solid var(--color-delta-blue-middle);
  align-items: center;
  background-color: var(--color-delta-blue-dark);
  justify-content: flex-end;
  justify-items: center;
  gap: .5rem;
}

.header-tools .button:has(.icon:only-child) {
  border-radius: 50%;
}

.header-links[aria-hidden="true"] + .header-tools .button-container a[href*="search"] {
  display: none;
}

.header-links[aria-hidden="false"] + .header-tools .button-container > *:not(a[href*="search"]) {
  display: none;
}

.header-widget {
  position: fixed;
  padding-top: 46px;
  background-color: var(--color-delta-blue-dark);
}

.header-widget[aria-hidden="false"] {
  inset: 0 0 0 0;
}

.header-widget::before {
  position: absolute;
  content: '';
  top: 46px;
  width: 100%;
  border-bottom: 1px solid var(--color-delta-blue-middle);
}

.header-widget .header-widget-close {
  position: absolute;
  top: 0;
  margin: .5rem;
}

@media (min-width: 992px) {
  .header-wrapper {
    background-color: var(--color-delta-blue-dark);
    border-bottom: 1px solid var(--color-delta-blue-middle);
  }

  .header-wrapper .button-container {
    flex-wrap: nowrap;
    gap: 0 .5rem;
  }

  .header-toggle {
    display: none;
  }

  .header-bar {
    display: grid;
    grid-template: "links tools" 74px / 1fr min-content;
    align-items: center;
    justify-content: space-between;
  }

  .header-brand {
    display: flex;
  }

  .header-brand .button:first-child {
    display: unset;
    padding: 0;
    border: none;
  }

  .header-brand .button:last-child {
    display: none;
  }

  .header-brand .button svg {
    width: 132px;
    height: auto;
  }

  .header-links[aria-hidden] {
    flex-direction: row;
    height: auto;
    padding: 0;
    transform: none;
    background: none;
    justify-content: space-evenly;
    overflow-y: unset;
  }

  .header-tabs button {
    position: relative;
    padding: .5rem .4rem;
    width: auto;
    border: none;
    overflow: unset;
  }

  .header-tabs button[aria-selected="true"]::after {
    content: '';
    position: absolute;
    inset: 47px 0 auto 0;
    border-bottom: 3px solid var(--color-delta-red);
  }

  .header-menus [role="menuitem"] > div {
    display: none;
  }

  .header-menus [role="menuitem"] > div[aria-hidden="false"] {
    display: unset;
    position: absolute;
    inset: 75px 0 auto 0;
    background-color: var(--color-delta-blue-dark);
  }

  .header-menus [role="menuitem"] > div > ul {
    box-sizing: border-box;
    padding: 1.5rem 0;
    margin: 0 auto;
    min-height: 215px;
    max-width: 976px;
  }

  .header-menus [role="menuitem"] > div[aria-hidden="false"] > ul {
    display: grid;
    grid-template: "primary secondary" / 1fr 1fr;
  }

  .header-menus [role="menuitem"] > div > ul > li {
    position: relative;
    padding: 0 1rem;
  }

  .header-menus [role="menuitem"] > div > ul > li:first-child {
    grid-area: primary;
    padding-left: calc(50% + 1rem);
  }

  .header-menus [role="menuitem"] > div > ul > li:last-child {
    grid-area: secondary;
  }

  .header-menus [role="menuitem"] > div > ul > li:last-child a {
    color: var(--color-delta-gray-middle);
    font-family: var(--heading-font-family);
    font-size: var(--body-font-size-s);
  }

  .header-menus [role="menuitem"] > div > ul > li + li {
    border-left: 1px solid var(--color-delta-blue-middle);
  }

  .header-menus [role="menuitem"] > div > ul > li + li > ul {
    columns: 2;
  }

  .header-menus button[aria-expanded] {
    overflow: unset;
  }

  .header-menus button[aria-expanded="true"]::after {
    content: '';
    position: absolute;
    inset: 47px 0 auto 0;
    border-bottom: 3px solid var(--color-delta-red);
  }

  .header-menus button[aria-expanded] .icon {
    display: none;
  }

  .header-menus ul li:first-child > ul > li:first-child img,
  .header-menus ul li:first-child > ul > li:hover img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(50% - 1rem);
    object-fit: contain;
    object-position: top;
  }

  .header-tabs,
  .header-menus {
    display: flex;
  }

  .header-menus [role="menuitem"] {
    border: none;
  }

  .header-menus button {
    padding: .5rem .4rem;
    width: auto;
    border: none;
  }

  .header-menus [role="menuitem"] a {
    padding: .5rem 0;
    font-size: var(--body-font-size-s);
    line-height: 1rem;
  }
  
  .header-links[aria-hidden="false"] + .header-tools .button-container > *:not(a[href*="search"]) {
    display: unset;
  }

  .header-tools {
    background: none;
    border: none;
  }

  .header-help {
    display: none;
  }

  .header-widgets {
    border-top: 1px solid var(--color-delta-blue-middle);
  }

  .header-widget {
    position: unset;
    min-height: 170px;
    inset: unset;
    display: none;
  }

  .header-widget[aria-hidden="false"] {
    display: block;
  }

  .header-widget::before {
    display: none;
  }

  .header-widget-close {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header-bar {
    max-width: 1140px;
    margin: 0 auto;
    gap: 4rem;
  }

  .header-links[aria-hidden] {
    justify-content: space-between;
  }

  .header-menus [role="menuitem"] > div > ul {
    max-width: 1140px;
  }

  .header-menus [role="menuitem"] > div > ul > li + li > ul {
    columns: 3;
  }
}

@media (min-width: 1440px) {
  .header-bar {
    max-width: 1156px;
  }

  .header-menus [role="menuitem"] > div > ul {
    max-width: 1156px;
  }
}

@media (min-width: 1600px) {
  .header-bar {
    max-width: 1180px;
  }

  .header-menus [role="menuitem"] > div > ul {
    max-width: 1180px;
  }
}