/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* design tokens colors */
  --color-delta-blue-dark: #11172b;
  --color-delta-blue-middle: #2d3641;
  --color-delta-blue: #0b1f66;
  --color-delta-gray: #7d8388;
  --color-delta-gray-middle: #d2d3d5;
  --color-delta-gray-middle2: #e6e6e6;
  --color-delta-gray-light: #f6f6f7;
  --color-delta-red: #e51937;
  --color-delta-red-dark: #98012e;

  /* semantic colors */
  --link-color: #4470c3;
  --link-hover-color: #2d4f8d;
  --background-color: #fff;
  --overlay-background-color: var(--color-delta-gray-light);
  --highlight-background-color: #11172b;

  /* --highlight-color: #ff; */
  --text-color: #212529;
  --text-color-inverted: #fff;
  --heading-color: var(--color-delta-blue);
  --button-color: var(--color-delta-blue);
  --hero-button-color: var(--color-delta-red);

  /* fonts */
  --body-font-family: Whitney-Light, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, sans-serif;
  --body-medium-font-family: whitney-medium, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, sans-serif;
  --button-font-family: whitney-semibold, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, sans-serif;
  --heading-font-family: whitney-book, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, sans-serif;
  --heading-font-family-alt: whitney-bold, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, sans-serif;
  --link-font-family: whitney-semibold, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, sans-serif;


  /* body sizes */
  --body-font-size-xxl: 24px;
  --body-font-size-xl: 1.25rem;
  --body-font-size-l: 1.125rem;
  --body-font-size-m: 16px;
  --body-font-size-s: .875rem;
  --body-font-size-xxs: 12px; 

  /* heading sizes */
  --heading-font-size-xxl: 3.25rem;
  --heading-font-size-xl: 2.625rem;
  --heading-font-size-l: 1.75rem; 
  --heading-font-size-m: 1rem;
  --heading-font-size-s: .9375rem;
  --heading-font-size-xs: .875rem;
  --heading-font-size-xxs: .8125rem;

  /* nav height */
  --nav-height: 111px;

}

/* Main blocks */
body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

footer {
  background-color: var(--highlight-background-color);
  color: var(--highlight-color);
}

.section {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

/* progressive section appearance */
.section[data-section-status='loading'],
.section[data-section-status='initialized'] {
  display: none;
}

.section.highlight {
  background-color: var(--highlight-background-color);
}

/* Typography styles */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  color: var(--heading-color);
  line-height: 1.2;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-s) }
h5 { font-size: var(--heading-font-size-xs) }
h6 { font-size: var(--heading-font-size-xxs) }

p, dl, ol, ul, pre, blockquote {
  font-size: var(--body-font-size-m);
  margin: 0 0 1rem;
}

li {
  padding: 0 0 .5rem;
}

p small {
  font-family: var(--heading-font-family);
  font-size: var(--body-font-size-s);
  font-style: normal;
}

p:has(small:only-child) {
  margin: 0;
}

a:any-link {
  color: var(--link-color);
  font-family: var(--link-font-family);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

pre {
  overflow: scroll;
}

main sup {
  font-family: var(--body-font-family);
}

main strong {
  font-family: var(--button-font-family);
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main figure picture {
  margin: 2rem 0;
}

main figure figcaption {
  font-size: 1rem;
}

/* inline accordion toggles */

main details {
  position: relative;
}

main details::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 2rem;
  left: 0;
  height: 1.5rem;
  width: 1rem;
  background-size: contain;
  background-color: var(--color-delta-red);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: center / contain no-repeat url('../icons/down-chevron.svg');
  mask: center / contain no-repeat url('../icons/down-chevron.svg');
  pointer-events: none;
}

main details[open]::before {
  transform: rotate(180deg);
}

main details summary {
  display: inline-block;
  margin: 2rem 0;
  padding-left: 2rem;
  color: var(--color-delta-blue);
  cursor: pointer;
  font-family: var(--link-font-family);
  letter-spacing: 1.6px;
  list-style: none;
}

main details summary::before {
  content: 'Show ';
}

main details[open] summary::before {
  content: 'Hide ';
}

/* buttons */
.button-container {
  text-align: center;
}

.button:any-link, button {
  display: inline-block;
  box-sizing: border-box;
  padding: 1.5rem .75rem;
  min-width: 16.875rem;
  border: 2px solid var(--color-delta-gray-middle);
  background-color: var(--background-color);
  cursor: pointer;
  color: var(--button-color);
  font-family: var(--button-font-family);
  font-size: 1rem;
  font-style: normal; 
  font-weight: 700;
  letter-spacing: 1.8px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.button:hover, .button:focus, button:hover, button:focus  {
  background-color: var(--color-delta-gray-middle2);
  border-color: var(--color-delta-blue);
  cursor: pointer;
  text-decoration: none;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

.button.cta, button.cta {
  background-color: var(--color-delta-red);
  border-color: var(--color-delta-red);
  color: var(--text-color-inverted);
}

.button.cta:hover, .button.cta:focus, button.cta:hover, button.cta:focus {
  background-color: var(--color-delta-red-dark);
  border-color: var(--color-delta-red-dark);
}

.button.secondary, button.secondary {
  background-color: unset;
  border-color: currentcolor;
  color: var(--text-color)
}

p em:only-child .button.secondary:only-child {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: var(--link-color);
  font-family: var(--link-font-family);
  font-size: 1rem;
  letter-spacing: unset;
  text-transform: unset;
  min-width: 0;
}

p em:only-child .button.secondary:only-child:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* Utility classes */
.sr-only:not(:focus, :active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* Forms and input styling */
main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;    
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

/* Media elements */
main img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: bottom;
}

/* Custom overrides for the fresh-air themed pages */
.fresh-air h1 {
  margin: 0;
  font-family: var(--heading-font-family-alt);
  font-size: var(--heading-font-size-s);
  text-transform: uppercase;
}

.fresh-air h2 {
  position: relative;
  margin: 0 0 2rem;
  padding-bottom: 2rem;
}

.fresh-air h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 3px solid var(--color-delta-red);
  width: 82px;
}

.fresh-air :is(p, dl, ol, ul, pre, blockquote) {
  font-size: var(--body-font-size-l);
}

.fresh-air .default-content-wrapper h2 {
  margin-top: 3rem;
}

.fresh-air .default-content-wrapper h1 + h2 {
  margin-top: 1.25rem;
}

.fresh-air .hero-container + .section h1 + h2 {
  font-size: var(--heading-font-size-xl);
}

.fresh-air .hero-container + .section h1 + h2 ~ :is(p, dl, ol, ul, pre, blockquote) {
  font-size: var(--body-font-size-xxl);
}

.fresh-air .hero-container + .section h1 + h2 ~ h2 ~ :is(p, dl, ol, ul, pre, blockquote) {
  font-size: var(--body-font-size-xl);
}

.fresh-air .default-content-eyebrow {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.fresh-air .default-content-eyebrow strong {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xl);
  font-weight: normal;
}

.fresh-air .default-content-eyebrow .button-container {
  margin: 3rem 0 2rem;
}


/* Responsive adaptation for larger screens. */
@media (min-width: 375px) {
  main .section {
    max-width: 375px;
  }
}

@media (min-width: 768px) {
  .button-container {
    text-align: inherit;
    margin-top: 2rem;
  }

  .button:any-link, button {
    padding: 1.5rem;
    min-width: 21.25rem;
    vertical-align: bottom;
  }

  main .section {
    max-width: 730px;
  }

  main figure picture {
    margin: initial;
  }

  .fresh-air .default-content-wrapper h2 {
    margin-top: 5rem;
  }

  .fresh-air .default-content-wrapper h2:first-child {
    margin-top: 0;
  }

  .fresh-air .hero-container + .section h1 + h2 {
    font-size: var(--heading-font-size-xxl);
  }
}

@media (min-width: 992px) {
  .button-container {
    text-align: inherit;
    margin-top: 2rem;
    padding: 0;
  }

  main .section {
    max-width: 976px;
  }

  p small {
    font-size: var(--body-font-size-m);
    font-style: normal;
  }
}

@media (min-width: 1200px) {
  main .section {
    max-width: 1140px;
  }
}

@media (min-width: 1440px) {
  main .section {
    max-width: 1156px;
  }
}

@media (min-width: 1600px) {
  main .section {
    max-width: 1180px;
  }
}
