/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* design tokens colors */
  --color-delta-blue-dark: #11172b;
  --color-delta-blue-middle: #2d3641;
  --color-delta-blue: #0b1f66;
  --color-delta-gray: #7d8388;
  --color-delta-gray-middle: #d2d3d5;
  --color-delta-gray-light: #f6f6f7;
  --color-delta-red: #e51937;

  /* semantic colors */
  --link-color: #4470c3;
  --link-hover-color: #2d4f8d;
  --background-color: #fff;
  --overlay-background-color: var(--color-delta-gray-light);
  --highlight-background-color: #11172b;

  /* --highlight-color: #ff; */
  --text-color: #212529;
  --text-color-inverted: #fff;
  --heading-color: var(--color-delta-blue);
  --button-color: var(--color-delta-blue);
  --hero-button-color: var(--color-delta-red);

  /* fonts */
  --body-font-family: whitney-book, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, sans-serif;
  --body-medium-font-family: whitney-medium, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, sans-serif;
  --body-light-font-family: whitney-light, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, sans-serif;
  --heading-font-family: whitneycondensed-semibold, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, sans-serif;
  --button-font-family: whitney-semibold, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, sans-serif;
  --heading-bold-font-family: whitney-bold, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, sans-serif;
  --heading-book-font-family: whitney-book, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, sans-serif;

  /* --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace; */

  /* body sizes */
  --body-font-size-s: 15px;
  --body-font-size-m: 16px;
  --body-font-size-xxs: 12px; 

  /* heading sizes */

  /* --heading-font-size-xxl: 38px; */
  --heading-font-size-xl: 38px;
  --heading-font-size-l: 32px; 
  --heading-font-size-m: 16px;
  
  /* --heading-font-size-s: 20px; */
  
  /* --heading-font-size-xs: 18px; */

  /* nav height */
  --nav-height: 153px;

}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
  background-color: var(--highlight-background-color);
  color: var(--highlight-color);
}

footer {
  background-color: var(--highlight-background-color);
  color: var(--highlight-color);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  color: var(--heading-color);
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-m) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

/* buttons */

a.button:any-link, button {
  display: inline-block;
  box-sizing: border-box;
  padding: 1.5rem;
  border: 2px solid #bac5d2;
  font-family: var(--body-font-family);
  font-size: 1rem;
  font-style: normal; 
  font-weight: 700;
  cursor: pointer;
  color: var(--button-color);
  background-color: var(--background-color);
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: #e6e6e6;
  border-color: #0b1f66;
  cursor: pointer;
  text-decoration: none;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.cta, button.cta {
  background-color: #e51937;
  border-color: #e51937;
  color: #fff;
  font-family: var(--button-font-family);
}

a.button.cta:hover, a.button.cta:focus, button.cta:hover, button.cta:focus {
  background-color: #98012e;
  border-color: #98012e;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
} 


main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;    
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  margin: 0 auto;
  padding: 0 15px;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

@media (min-width: 900px) {
  :root {
  /* heading sizes */

  /* --heading-font-size-xxl: 38px; */
  --heading-font-size-xl: 52px;
  --heading-font-size-l: 52px; 
  --heading-font-size-m: 16px;
  
  /* --heading-font-size-s: 20px;
   --heading-font-size-xs: 18px; */
  }
}

main .default-content-wrapper {
  text-align: center;
}

main .default-content-wrapper .default-content-eyebrow {
  font-family: var(--heading-bold-font-family);
  color: var(--color-delta-blue);
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

main .default-content-wrapper h2 {
  font-family: var(--body-font-family);
  font-weight: 400;
  line-height: 54px;
  margin-bottom: 60px;
}

main .default-content-wrapper .default-content-eyebrow + h2 {
  margin-top: 0;
} 

@media (min-width: 992px) {
  :root {
    --nav-height: 68px;
  }
}

@media (min-width: 1200px) {
  main .section {
    max-width: 1140px;
  }

  main .section .default-content-wrapper {
    width: auto;
  }
}

.skymiles .default-content-wrapper {
  font-family: var(--body-light-font-family);
  font-size: 20px;
  line-height: 28px;
  text-align: left;
}

.skymiles .default-content-wrapper h1 {
  font-family: var(--heading-bold-font-family);
  font-size: 15px;
  letter-spacing: 1.4px;
  line-height: 20px;
}

.skymiles .default-content-wrapper h2 {
  position: relative;
  padding-bottom: 30px;
  font-family: var(--heading-book-font-family);
  font-size: 42px;
  line-height: 50px;
}

.skymiles .section:first-child .default-content-wrapper:first-of-type h2:first-of-type {
  font-size: 52px;
  line-height: 62px;
}

.skymiles .section:first-child .default-content-wrapper:first-of-type p {
  font-size: 24px;
}

.skymiles .default-content-wrapper h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 3px solid var(--color-delta-red);
  width: 82px;
}

.skymiles .default-content-wrapper ol,
.skymiles .default-content-wrapper ul {
  font-size: 20px;
  line-height: 34px;
}

.skymiles .default-content-wrapper li {
  padding-bottom: 8px;
}

.skymiles .default-content-wrapper p picture:only-child {
  width: 100%;
  margin: 0 15px;
}

.skymiles .columns {
  margin: 0 15px;
}

.skymiles .columns > div {
  gap: 30px;
}

.skymiles .section.highlight {
  margin: 0;
  padding: 2.5rem 0;
  max-width: none;
  background-color: var(--color-delta-gray-light);
}

.skymiles .section.highlight:last-child .default-content-wrapper {
  margin: 0 auto;
  max-width: 45rem;
  text-align: center;
}