/* header and nav layout */
.nav-wrapper {
  position: fixed;
  width: 100%;
  max-width: 100vw;
  z-index: 3;
  background-color: var(--highlight-background-color);
  border-bottom: 1px solid var(--color-delta-blue-middle);
}

header nav {
  box-sizing: border-box;
  display: grid;
  height: 47px;
  padding: 0;
  margin: 0;
  background-color: var(--highlight-background-color);
  grid-template:
    'hamburger tools' 47px
    'planners planners' 91px / auto auto;
  align-items: center;
  gap: 0 2em;
  max-width: 1264px;
  font-family: var(--body-font-family);
  color: var(--text-color-inverted);
}

header nav[aria-expanded=true] {
  grid-template:
    'hamburger tools' 47px
    'planners planners' 1fr
    'sections sections' 1fr;
  position: absolute;
  overflow-y: auto;
  min-height: 100vh;
  width: 100%;
  padding: 0 30px 30px;
}

header nav[aria-expanded=true] svg {
  height: 22px;
}

header nav a:any-link {
  color: var(--text-color-inverted);
}

header nav p {
  margin: 0;
  line-height: 1;
}

/* Hidding images until styling is done */
header img {
  display: none;
}

/* hamburger */
.nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

.nav-hamburger button {
  height: 24px;
  margin: 0 30px;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

.nav-hamburger-icon,
.nav-hamburger-icon::before,
.nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

.nav-hamburger-icon::before,
.nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded=true] .nav-hamburger button {
  margin: 0;
}

header nav[aria-expanded=false] .nav-hamburger-icon,
header nav[aria-expanded=false] .nav-hamburger-icon::before,
header nav[aria-expanded=false] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded=false] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded=false] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded=true] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded=true] .nav-hamburger-icon::before,
header nav[aria-expanded=true] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded=true] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

/* brand */
.nav-brand {
  grid-area: brand;
  display: none;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand svg {
  width: 120px;
  height: auto;
  fill: var(--text-color-inverted);
  vertical-align: middle;
}

/* planners */
.nav-planners {
  grid-area: planners;
  font-family: var(--button-font-family);
}

.nav-planners ul {
  gap: 0 42px;
  font-size: 13px;
}

.nav-planners ul > li {
  padding: 4px 0;
  text-transform: uppercase;
}

header nav[aria-expanded=true] .nav-planners {
  margin-top: 30px;
}

/* sections */
.nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
  font-family: var(--body-medium-font-family);
  font-size: 14px;
}

/* tools */
.nav-tools {
  grid-area: tools;
  padding-right: 20px;
  font-family: var(--heading-bold-font-family);
  font-size: 16px;
}

.nav-tools ul > li {
  display: none;
}

.nav-tools .icon {
  display: inline-block;
  width: 36px;
}

header nav .nav-tools svg {
  height: 26px;
  width: 36px;
  fill: var(--text-color-inverted);
  vertical-align: middle;
}

.nav-tools .button:any-link {
  padding: 0 12px;
  font-size: 14px;
  vertical-align: middle;
}

.nav-planners ul,
.nav-sections ul,
.nav-tools ul {
  display: flex;
  justify-content: center;
  gap: 0 14px;
  padding: 0;
  margin: 0;
  align-items: center;
  font-size: var(--body-font-size-s);
  font-weight: 500;
  list-style: none;
}

.nav-tools > ul {
  justify-content: end;
}

.nav-planners > ul > li,
.nav-sections > ul > li,
.nav-tools > ul > li {
  flex: 0 1 auto;
  position: relative;
  padding: 7px 0;
  font-weight: 700;
  white-space: nowrap;
}

.nav-tools > ul > li {
  text-transform: uppercase;
}

.nav-planners ul > li > ul,
.nav-sections ul > li > ul {
  margin-top: 0;
  flex-direction: column;
}

.nav-planners ul > li > ul > li,
.nav-sections ul > li > ul > li {
  font-weight: 500;
}

.nav-planners li:first-child,
.nav-planners li:last-child {
  display: none;
}

.nav-tools > ul > li:last-child {
  display: none;
}

.nav-planners > ul > li > a,
.nav-sections > ul > li > a,
.nav-tools > ul > li > a {
  position: relative;
  display: inline-block;
  padding: 8px 0;
  font-weight: 400;
  line-height: 20px;
  white-space: nowrap;
}

.nav-planners > ul > li > a:hover,
.nav-sections > ul > li > a:hover,
.nav-tools > ul > li > a:hover {
  text-decoration: none;
}
  
.nav-planners > ul > li.active > a::after,
.nav-sections > ul > li.active > a::after {
  position: absolute;
  display: block;
  content: '';
  border-bottom: 3px solid var(--color-delta-red);
  width: 100%;
  bottom: 0;
  left: 0;
}

header nav[aria-expanded=true] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav[aria-expanded=true] .nav-planners a,
header nav[aria-expanded=true] .nav-sections a {
  display: block;
  padding: 21px 24px;
}

header nav[aria-expanded=true] .nav-planners ul,
header nav[aria-expanded=true] .nav-sections ul {
  align-items: start;
  flex-direction: column;
}

header nav[aria-expanded=true] .nav-sections > ul > li > ul {
  display: none;
  padding: 18px 0;
}

header nav[aria-expanded=true] .nav-planners > ul > li,
header nav[aria-expanded=true] .nav-sections > ul > li {
  width: 100%;
  padding: 0 8px;
  border-bottom: 1px solid var(--color-delta-blue-middle);
}

header nav[aria-expanded=true] .nav-planners li:first-child,
header nav[aria-expanded=true] .nav-planners li:last-child {
  display: list-item;
}

header nav[aria-expanded=true] .nav-planners > ul > li.active a::after,
header nav[aria-expanded=true] .nav-sections > ul > li.active a::after,
header nav[aria-expanded=true] .nav-tools > ul > li.active a::after,
header nav[aria-expanded=true] .nav-planners > ul > li.hover a::after,
header nav[aria-expanded=true] .nav-sections > ul > li.hover a::after,
header nav[aria-expanded=true] .nav-tools > ul > li.hover a::after {
  display: none;
}

header nav[aria-expanded=true] .nav-tools {
  padding: 0;
}

header nav[aria-expanded=true] .nav-tools li:last-child {
  display: list-item;
}

/* @media (min-width: 375px) {} */

@media (min-width: 768px) {
  header nav {
    height: 46px;
    grid-template:
      'hamburger tools' 47px
      'planners planners' 119px / auto auto;
  }

  .nav-planners ul {
    gap: 0 46px;
    font-size: 13px;
  }

  .nav-planners li:last-child {
    display: list-item;
  }
}

@media (min-width: 992px) {
  .header {
    height: 100%;
  }

  .header nav {
    display: flex;
    justify-content: space-between;
    gap: unset;
    grid-template:
      'hamburger - tools' 47px
      'planners planners planners' 1fr / auto 1fr auto;
    height: 76px;
    max-width: 976px;
    margin: 0 auto;
    padding: 0 6px;
  }

  header nav[aria-expanded=true] {
    min-height: 0;
    overflow: visible;
    position: relative;
    padding: 0 6px;
  }

  .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  .nav-brand {
    display: block;
  }

  .nav-brand svg {
    width: 149px;
    height: auto;
  }

  .nav-planners {
    position: relative;
  }

  .nav-planners ul {
    gap: 0 14px;
  }

  .nav-sections {
    display: block;
    visibility: visible;
    max-width: 214px;
  }

  header nav[aria-expanded=true] .nav-sections {
    align-self: unset;
  }

  .nav-tools {
    padding-right: 0;
  }

  .nav-tools svg {
    height: 30px;
    width: 36px;
  }

  .nav-tools ul > li {
    display: list-item;
  }

  .nav-tools .button:any-link {
    padding: 2.5px 7px;
  }

  .nav-planners > ul > li,
  .nav-sections > ul > li,
  .nav-tools > ul > li {
    padding: 20px 0;
  }

  .nav-planners > ul > li > a:hover,
  .nav-sections > ul > li > a:hover,
  .nav-tools > ul > li > a:hover {
    text-decoration: none;
  }
  
  .nav-planners > ul > li:hover > a::after,
  .nav-sections > ul > li:hover > a::after {
    position: absolute;
    display: block;
    content: '';
    border-bottom: 3px solid var(--color-delta-red);
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .nav-planners > ul > li > ul,
  .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav[aria-expanded=true] .nav-planners ul,
  header nav[aria-expanded=true] .nav-sections ul {
    flex-direction: row;
  }

  .nav-planners > ul > li[aria-expanded=true] > ul,
  .nav-sections > ul > li[aria-expanded=true] > ul {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 20px;
    padding: 1em;
    background-color: var(--highlight-background-color);
  }

  .nav-planners > ul > li > ul > li,
  .nav-sections > ul > li > ul > li {
    padding: 8px 0;
  }

  .nav-tools > ul > li:last-child {
    position: relative;
    display: list-item;
    margin-left: 10px;
  }

  header nav[aria-expanded=true] .nav-planners {
    margin-top: 0;
  }

  header nav[aria-expanded=true] .nav-planners > ul > li,
  header nav[aria-expanded=true] .nav-sections > ul > li {
    border-bottom: none;
    padding: 0 8px;
  }

  header nav[aria-expanded=true] .nav-planners li:first-child,
  header nav[aria-expanded=true] .nav-planners li:last-child {
    display: none;
  }

  header nav[aria-expanded=true] .nav-planners a,
  header nav[aria-expanded=true] .nav-sections a {
    display: list-item;
    padding: 8px 0;
  }

  .nav-tools > ul > li:last-child::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    border-left: 1px solid var(--color-delta-blue-middle);
    height: 37px;
    vertical-align: middle;
    margin-left: -10px;
  }

  .nav-planners > ul > li.active a::after,
  .nav-sections > ul > li.active a::after,
  .nav-tools > ul > li.active a::after,
  .nav-planners > ul > li:hover a::after,
  .nav-sections > ul > li:hover a::after,
  .nav-tools > ul > li:hover::after {
    bottom: -20px;
  }
}

@media (min-width: 1200px) {
  .header nav {
    margin: 0 auto;
    padding: 0 15px;
    height: 67px;
    max-width: 1140px;
  }

  .nav-brand svg {
    width: 144px;
  }

  .nav-planners > ul > li {
    padding: 18px 0;
  }

  .nav-sections ul {
    justify-content: start;
  }

  .nav-planners > ul > li.active a::after,
  .nav-sections > ul > li.active a::after,
  .nav-tools > ul > li.active a::after,
  .nav-planners > ul > li:hover a::after,
  .nav-sections > ul > li:hover a::after,
  .nav-tools > ul > li:hover::after {
    bottom: -16px;
  }
}

@media (min-width: 1440px) {
  .header nav {
    height: 76px;
    max-width: 1156px;
    margin: 0 auto;
  }

  .nav-planners > ul > li,
  .nav-sections > ul > li {
    margin: 0;
    padding: 20px 0;
  }

  .nav-planners > ul > li.active a::after,
  .nav-sections > ul > li.active a::after,
  .nav-tools > ul > li.active a::after,
  .nav-planners > ul > li:hover a::after,
  .nav-sections > ul > li:hover a::after,
  .nav-tools > ul > li:hover::after {
    bottom: -20px;
  }
}

@media (min-width: 1600px) {
  .header nav {
    max-width: 1180px;
    margin: 0 auto;
  }
}
