.cards-wrapper {
    overflow: auto;
}

.cards {
    margin: 2rem auto;
}

.cards > ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-gap: 1rem;
    max-width: 1200px;
    justify-content: center;
}

.cards > ul > li {
    background-color: var(--overlay-background-color);
}

.cards.silent > ul > li {
    background: none;
}

.cards .cards-card-body {
    padding: 30px;
    position: relative;
    padding-bottom: 15px;
}

.cards .is-link .cards-card-body {
    cursor: pointer;
}

.cards .is-link .cards-card-body::after {
    content: '';
    border: 1px solid var(--color-delta-red); 
    border-width: 1.5px 1.5px 0 0; 
    transform: rotate(45deg);
    color: var(--color-delta-red);
    height: 11px;
    width: 11px;
    display: block;
    position: absolute;
    bottom: 45px;
    right: 30px;
    top: 50%;
}

.cards .cards-card-body p {
    color: var(--color-delta-blue);
    font-size: 1rem;
    font-weight: 700;
}

.cards .is-link .cards-card-body p {
    padding-right: 2rem;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    height: 224px;
}

.cards :is(h3, h4, strong) {
    font-family: var(--heading-font-family-alt);
    font-size: var(--body-font-size-m);
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}

.cards a:any-link {
    color: var(--link-color);
}

@media (min-width: 768px) {
    .cards > ul {
        gap: 2rem;
    }

    .cards > ul > li img {
        height: 480px;
    }
}

@media (min-width: 992px) {
    .cards > ul {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }

    .cards > ul > li img {
        height: unset;
    }

    /* Large variant */
    .cards.large > ul {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}