.toc {
  margin: 3rem 0;
}

.toc ul {
  padding: 1.5rem 2.5rem 2rem;
  background-color: var(--color-delta-gray-light);
  border: 1px solid var(--color-delta-gray-middle);
  column-rule: 1px solid var(--color-delta-gray-middle);
  column-gap: 5rem;
  column-count: 1;
}

.toc ul li {
  font-size: 1.25rem;
  font-family: var(--body-font-family);
  padding-bottom: 0.5rem;
}

.toc ul li a {
  padding-bottom: 0.2em;
  margin-left: 0.6em;
  color: var(--color-delta-blue);
  border-bottom: 1px dotted var(--color-delta-blue);
  line-height: 2.125rem;
}

.toc ul li a:hover {
  border-bottom-style: solid;
  text-decoration: none;
}

@media (min-width: 768px) {
  .toc ul {
    column-count: 2;
  }
}
