.section-nav-wrapper {
  position: fixed;
  inset: 47px 0 auto 0;
  z-index: 3;
}

.section-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: .5rem 1rem;
}

.section-nav hlx-aria-menu {
  position: relative;
}

.section-nav-menu {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  inset: 57px -1rem auto -1rem;
  max-height: calc(100vh - var(--nav-height));
  padding: 0 2rem 1rem;
  background: var(--color-delta-gray-light);
  overflow-y: auto;
}

.section-nav-menu,
.section-nav-menu ul {
  list-style: none;
  transition: max-height .3s ease;
  overflow: auto;
}

.section-nav-menu ul {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.section-nav-menu[aria-hidden="true"],
.section-nav-menu ul[aria-hidden="true"] {
  max-height: 0;
}

.section-nav-menu li {
  display: block;
  margin: 0;
  padding: 0;
}

.section-nav-menu a {
  text-decoration: none;
}

.section-nav-menu a,
.section-nav-menu button {
  display: block;
  max-width: none;
  color: var(--color-delta-blue);
  font-family: var(--heading-font-family-alt);
  font-size: var(--body-font-size-s);
  letter-spacing: 1px;
  text-align: left;
  text-transform: none;
  width: 100%;
}

.section-nav-menu ul a,
.section-nav-menu ul button {
  padding: .667rem 0;
  font-family: var(--body-medium-font-family);
  letter-spacing: 1px;
}

.section-nav-menu > li:not(:first-child) {
  border-top: 1px solid var(--color-delta-gray-middle2);
}

.section-nav-menu > li > a,
.section-nav-menu > li > button {
  position: relative;
  padding: 1.5rem 0;
  background: none;
  border: none;
}

.section-nav-menu a:active,
.section-nav-menu a:hover {
  text-decoration: none;
}

.section-nav-toggle {
  box-sizing: border-box;
  padding: 1rem 4rem 1rem 2rem;
  border: none;
  background: none;
  font-family: var(--button-font-family);
  font-size: var(--heading-font-size-s);
  letter-spacing: 1px;
  text-align: left;
  width: 100%;
}

.section-nav-toggle:focus,
.section-nav-toggle:hover {
  background-color: inherit;
}

.section-nav .section-nav-toggle h2 {
  margin: 0;
  font-family: var(--link-font-family);
  font-size: inherit;
  text-transform: uppercase;
  color: var(--color-delta-blue);
}

.section-nav .section-nav-toggle h2:hover {
  cursor: pointer;
}

.section-nav-toggle::after,
.section-nav-menu > li > button[aria-expanded]::after {
  position: absolute;
  display: block;
  right: .5rem;
  top: 1.5rem;
  content: '';
  border: 1px solid var(--color-delta-red); 
  border-width: 2px 2px 0 0; 
  transform: rotate(135deg);
  color: var(--color-delta-red);
  height: 8px;
  width: 8px;
}

.section-nav-toggle[aria-expanded]::after {
  top: 1.1rem;
  right: 2.5rem;
}

.section-nav-toggle[aria-expanded="true"]::after {
    transform: rotate(315deg);
    top: 1.5rem;
}

.section-nav-menu > li > button[aria-expanded="true"]::after {
    transform: rotate(315deg);
    top: 1.7rem;
}

.section-nav-current {
  display: none;
  color: var(--color-delta-blue);
  font-family: var(--body-medium-font-family);
  font-size: var(--body-font-size-s);
}

@media (min-width: 375px) {
  .section-nav-menu {
    inset: 57px 0 auto 0;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .section-nav {
    box-sizing: border-box;
    padding: .3rem 1rem;
    margin: 0 auto;
    max-width: 730px;
    align-items: stretch;
    flex-direction: row;
  }

  hlx-aria-menu {
    position: relative;
    flex: 6 0 365px;
    width: auto;
  }

  .section-nav-menu {
    right: auto;
    margin: 0;
    width: 365px;
  }

  .section-nav-current {
    flex: 6 0 365px;
    display: block;
    box-sizing: border-box;
    padding: 1rem 0 1rem 3rem;
    border-left: 1px solid var(--color-delta-gray-light);
  }

  .section-nav-toggle[aria-expanded]::after {
    top: 1.1rem;
  }

  .section-nav-toggle[aria-expanded="true"]::after {
    top: 1.3rem;
  }
}

@media (min-width: 992px) {
  .section-nav-wrapper {
    position: fixed;
    top: 76px;
  }

  .section-nav {
    max-width: 976px;
  }

  hlx-aria-menu {
    flex: 5 0 406.667px;
    flex-basis: 406.667px;
  }

  .section-nav-menu {
    width: 406.667px;
    top: 56px;
  }

  .section-nav-current {
    flex: 7 0 569.333px;
  }
}

@media (min-width: 1200px) {
  .section-nav {
    max-width: 1140px;
  }

  hlx-aria-menu {
    flex: 4 0 380px;
  }

  .section-nav-menu {
    width: 380px;
  }

  .section-nav-current {
    flex: 8 0 760px;
  }
}

@media (min-width: 1440px) {
  .section-nav {
    max-width: 1156px;
  }

  hlx-aria-menu {
    flex-basis: 385.333px;
  }

  .section-nav-menu {
    width: 385.333px;
  }

  .section-nav-current {
    flex-basis: 770.667px;
  }
}

@media (min-width: 1600px) {
  .section-nav {
    max-width: 1180px;
  }

  hlx-aria-menu {
    flex-basis: 393.333px;
  }

  .section-nav-menu {
    width: 393.333px;
  }

  .section-nav-current {
    flex-basis: 786.667px;
  }
}