.footer-wrapper {
  padding: 2rem 2rem 4rem;
  background-color: var(--color-delta-blue-dark);
  font-size: var(--body-font-size-s);
}

.footer {
  max-width: 375px;
  margin: auto;
}

.footer p {
  margin: 0;
}

.search-suggestions {
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  overflow-y: auto;
}

.search-suggestions a {
  display: block;
  line-height: 1.875rem;
}

/* Copyright */
.footer-copyright {
  color: var(--color-delta-gray);
  text-align: center;
  padding-top: 2rem;
  font-size: .9rem;
  font-size: var(--body-font-size-xxs);
}

.footer-links a {
  text-decoration: none;
  font-family: var(--body-medium-font-family);
  font-size: var(--heading-font-size-s);
  font-weight: 400;
  line-height: var(--heading-font-size-s);
}

.footer-social-int a {
  color: white;
  vertical-align: middle;
}

.footer-copyright p,
.footer-legal p,
.footer-legal p a {
  font-family: var(--heading-font-family);
  font-size: 0.75rem;
  line-height: 1.3rem;
}

.footer a:any-link {
  color: #fff;
  text-decoration: none;
}

.footer li {
  margin-bottom: .5rem;
}

/* terms and conditions */
.footer-legal {
  color: var(--color-delta-gray);
  text-align: center;
  padding-top: .5rem;
  font-size: var(--body-font-size-xxs);
}

/* website feedback */
.footer-feedback {
  color: white;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.2em;
}

.footer-feedback p {
  font-size: 1rem;
  font-weight: 800;
}

/* social and language links - last */
.footer-social-int ul {
  white-space: nowrap;
  overflow: hidden;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

.footer-links > ul > li {
  position: relative;
  display: inherit;
  flex-direction: column;
  padding-left: 0;
}

.footer-links .heading::after {
  position: absolute;
  content: '';
  top: .25rem;
  right: 1rem;
  width: 6px;
  height: 6px;
  border-color: var(--text-color-inverted);
  border-style: solid;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.footer-links .heading[aria-expanded="true"]::after {
  top: .5rem;
  transform: rotate(-135deg);
}

.footer-social-int li.color {
  display: inline-block;
}

footer .icon > svg {
  vertical-align: middle;
  padding: .25rem;
}

/* Info modal */

.footer-links {
  font-family: var(--body-medium-font-family);
  margin: 0 auto;
}

.footer-links > ul {
  display: flex;
  color: #fff;
  justify-content: center;
  flex-direction: column;
  padding-left: 0;
  margin-top: 3.5rem;
}

.footer-links > ul > li .menu {
  list-style: none;
  padding-left: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in;
  border-bottom: 1px solid var(--color-delta-blue-middle);
  margin-top: 1.375rem;
}

.footer-links > ul > li > .menu[aria-expanded="true"] {
  max-height: 300px;
  transition: max-height 0.8s fade-in-out;
}

.footer-links > ul > li .heading {
  position: relative;
}

.footer-links a:hover, .footer-social-int a:hover {
  text-decoration: none;
}

.footer-links strong {
  color: var(--color-delta-gray);
  font-family: var(--heading-font-family-alt);
  letter-spacing: 1px;
  line-height: 1.125rem;
  font-size: var(--heading-font-size-s);
  cursor: pointer;
}

/* Search Help Topics */
.footer-search-help-topics {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.footer-search-help-topics ul {
  list-style: none;
  margin-top: unset;
  padding-left: 0;
}

.footer-search-help-topics .first-row {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

.footer-search-help-topics .first-row ul {
  margin-bottom: 0;
  font-size: 46px;
}

.footer-search-help-topics .first-row .heading {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  justify-content: space-between;
}

.footer-search-help-topics .icon svg {
  height: 32px;
  width: 32px;
  fill: var(--text-color-inverted);
}

.footer-search-help-topics .second-row {
  display: none;
}

.footer-search-help-topics .second-row .heading {
  font-family: var(--body-medium-font-family);
}

.footer-search-help-topics .second-row a {
  font-family: var(--heading-font-family);
  font-size: 1.125rem;
}

.footer-social-int li.color a,
.footer-social-int li.color svg {
  color: var(--color-delta-gray);
  font-size: var(--heading-font-size-xs);
  fill: var(--color-delta-gray);
}

.footer-search-help-topics .second-row a:hover {
  text-decoration: underline;
}

.footer-search-help-topics .second-row ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-social-int li.color svg {
  width: 1.75rem;
  height: 1.75rem;
}

.footer-search-help-topics .first-row ul svg {
  width: 25px;
  height: 25px;
}

.footer hlx-aria-dialog {
  margin-top: .5rem;
  width: 100%;
}

.footer hlx-aria-dialog > button {
  padding: .5rem 0;
  background: none;
  border: none;
  color: inherit;
  font-family: var(--heading-font-family);
  text-transform: none;
}

.search-suggestions .no-results {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: var(--heading-font-size-s);
}

.search-suggestions .no-results .icon {
  padding: 1rem;
  margin-bottom: 1rem;
  background: var(--color-delta-gray-light);
  border-radius: 50%;
}

.search-suggestions .no-results .icon svg {
  width: 3rem;
  height: 3rem;
}

.footer [role="dialog"] {
  color: var(--text-color);
  text-align: left;
}

.footer [role="dialog"] label {
  font-family: var(--button-font-family);
  font-size: var(--heading-font-size-xxs);
}

.footer [role="dialog"] label:has( + .field-group :placeholder-shown) {
  opacity: 0;
}

.footer [role="dialog"] .field-group {
  display: flex;
  align-items: center;
  gap: 0 .5rem;
  justify-content: stretch;
}

.footer [role="dialog"] input {
  display: block;
  padding: 2px 2rem 2px .5rem;
  border: none;
  border-bottom: 2px solid var(--color-delta-gray-middle2);
  width: auto;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-l);
  line-height: 3em;
  flex: 1 0 auto;
}

.footer [role="dialog"] input::placeholder {
  color: var(--color-delta-gray);
  font-size: 1.5rem;
}

.footer [role="dialog"] input::-webkit-search-cancel-button {
  position: absolute;
  appearance: none;
  right: .5rem;
  width: 1.3rem;
  height: 1.3rem;
  border: 1px solid var(--color-delta-gray);
  border-radius: 50%;
  background: center / 7px no-repeat url('../../icons/x.svg');
  opacity: .7;
}

.footer [role="dialog"] button {
  border: none;
  padding: 0;
  min-width: 0;
}

.footer [role="dialog"] > div > button {
  position: absolute;
  top: 1rem;
  right: 2rem;
  background: none;
  line-height: 1rem;
  border-radius: 50%;
  width: auto;
}

.footer [role="dialog"] .field-group button {
  border-radius: 50%;
  flex: 0 0 auto;
  outline-offset: -.5rem;
  transition: outline-offset .3s ease;
  width: auto;
}

.footer [role="dialog"] button:focus,
.footer [role="dialog"] button:hover {
  background: none;
}

.footer [role="dialog"] > div > button:focus-visible {
  outline: 2px solid var(--color-delta-gray);
  outline-offset: 2px;
}

.footer [role="dialog"] .field-group button:focus-visible {
  outline: 2px solid var(--color-delta-gray);
  outline-offset: 2px;
}

.footer [role="dialog"] .icon svg {
  fill: var(--color-delta-gray-middle);
}

.footer [role="dialog"] h2 {
  margin: 1.25rem 0;
  font-family: var(--button-font-family);
  font-size: var(--body-font-size-l);
}

.footer [role="dialog"] ul {
  padding: 0;
}

.footer [role="dialog"] li {
  padding-bottom: .8125rem;
  line-height: 1.15rem;
}

.footer [role="dialog"] a:any-link {
  color: var(--link-color);
  font-family: var(--heading-font-family);
  font-size: var(--body-font-size-l);
  text-decoration: none;
}

.footer [role="dialog"] > div > button .icon {
  display: inline-block;
}

.footer [role="dialog"] > div > button .icon svg {
  width: 1rem;
  height: 1rem;
  fill: var(--color-delta-gray);
}

.footer [role="dialog"][aria-hidden="false"] {
  display: flex;
}

.footer [role="dialog"][aria-modal="true"] {
  position: fixed;
  inset: 0;
  z-index: 9999;
  justify-items: stretch;
}

.footer [role="dialog"][aria-modal="true"] > div {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  max-height: 100%;
  border: 1px solid rgb(0 0 0 / 20%);
  background: var(--background-color);
}

.footer [role="dialog"][aria-modal="true"]::before {
  position: fixed;
  inset: 0;
  isolation: isolate;
  z-index: -1;
  background-color: rgb(0 0 0 / 30%);
  content: '';
}

.footer-search-help-topics .first-row .heading::after {
  display: inline-block;
  margin-left: 2rem;
  width: 2rem;
  height: 2rem;
  background: var(--text-color-inverted);
  content: '';
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: center / contain no-repeat url('../../icons/search.svg');
  mask: center / contain no-repeat url('../../icons/search.svg');
}

@media (min-width: 768px) {
  .footer {
    max-width: 730px;
    padding: 0 1.75rem;
  }

  .footer p {
    margin-bottom: .5rem;
  }

  .footer > div > div {
    width: unset;
    padding: 0 1rem 0 3.5rem;
  }

  .footer .footer-copyright {
    padding-top: 2rem;
  }

  /* social and language links - last */
  .footer-social-int {
    margin: 1.5rem 1rem 1rem;
  }

  .footer-social-int ul {
    padding-left: auto;
  }

  .footer-social-int li {
    display: inline-block;
    margin: 0 1rem;
    padding-left: 2rem;
    border-left: 1px solid var(--color-delta-blue-middle);
  }

  .footer-links {
    width: unset;
    margin: 0 auto;
  }

  .footer-links > ul {
    flex-direction: unset;
    gap: 0 2rem;
  }

  .footer-links > ul > li {
    flex-basis: 25%;
  }

  .footer-social-int li:first-child {
    border-left: 0;
    border-left: none;
  }

  .footer-links > ul > li .heading {
    min-height: 2.25rem;
    position: unset;
  }

  .footer-links .heading::after {
    display: none;
  }

  .footer-links > ul > li .menu {
    list-style: none;
    padding-left: 0;
    max-height: none;
    overflow: none;
    transition: none;
    border-bottom: none;
  }

  .footer-links > ul > li > .menu[aria-expanded="true"] {
    max-height: none;
    transition: none;
  }
  
  .footer-links strong {
    cursor: none;
  }

  .footer-search-help-topics .first-row .heading {
    font-size: 2.875rem;
  }

  .footer-search-help-topics ul {
    list-style: none;
    margin-top: unset;
    padding-left: 40px;
  }

  .footer-search-help-topics .first-row ul svg {
    width: 40px;
    height: 40px;
  }

  .footer-search-help-topics .second-row {
    display: inline-flex;
    font-size: 1.125rem;
    color: var(--color-delta-gray);;
    margin: .5rem 0 2rem;
  }

  .footer-search-help-topics .second-row .heading {
    font-family: var(--body-medium-font-family);
  }

  .footer-search-help-topics {
    border-bottom: 1px solid var(--color-delta-blue-middle);
  }

  .footer .footer-feedback {
    display: none;
  }
}

@media (min-width: 992px) {
  .footer {
    max-width: 976px;
  }

  .footer hlx-aria-dialog > button {
    padding: .5rem 1.5rem;
  }

  .footer [role="dialog"] input {
    width: calc(100% - 2rem);
  }

  .footer [role="dialog"][aria-modal="true"] > div {
    padding: 4rem;
    margin: auto;
    width: auto;
    width: 445px;
  }

  .search-suggestions {
    height: 10rem;
    overflow-y: auto;
  }
}

@media (min-width: 1200px) {
  .footer {
    max-width: 1140px;
  }
}

@media (min-width: 1440px) {
  .footer {
    max-width: 1156px;
  }
}

@media (min-width: 1600px) {
  .footer {
    max-width: 1180px;
  }
}