footer {
  padding: 2rem;
  background-color: var(--color-delta-blue-dark);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 375px;
  margin: auto;
}

footer p {
  margin: 0;
}

footer a:any-link {
  color: #fff;
  text-decoration-thickness: unset;
}

/* Copyright */
footer .footer-copyright {
  color: var(--color-delta-gray);
  text-align: center;
  padding-top: 2rem;
  font-size: .9rem;
  font-size: var(--body-font-size-xxs);
}

footer .footer-links a {
  text-decoration: none;
  font-family: var(--body-medium-font-family);
  font-size: var(--heading-font-size-s);
  font-weight: 400;
  line-height: var(--heading-font-size-s);
}

footer .footer-social-int a {
  color: white;
  vertical-align: middle;
}

footer .footer-copyright p,
footer .footer-legal p,
footer .footer-legal p a {
  font-family: var(--heading-font-family);
  font-size: 0.75rem;
  line-height: 1.3rem;
}

/* terms and conditions */
footer .footer-legal {
  color: var(--color-delta-gray);
  text-align: center;
  padding-top: .5rem;
  font-size: var(--body-font-size-xxs);
}

/* website feedback */
footer .footer-feedback {
  color: white;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.2em;
}

footer .footer-feedback p {
  font-size: 1rem;
  font-weight: 800;
}

/* social and language links - last */
footer .footer-social-int ul {
  white-space: nowrap;
  overflow: hidden;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

footer .footer-links > ul > li {
  display: inherit;
  flex-direction: column;
  padding-left: 0;
}

footer .footer-social-int li.color {
  display: inline-block;
}

footer .icon > svg {
  vertical-align: middle;
  padding: .25rem;
}

/* Info modal */
footer .footer > div > div {
  width: 330px;
  margin: 0 auto;
}

footer .footer-search-help-topics .caret {
  display: none;  
}

footer .footer-links {
  font-family: var(--body-medium-font-family);
  width: 330px;
  margin: 0 auto;
}

footer .footer-links > ul {
  display: flex;
  color: #fff;
  justify-content: center;
  flex-direction: column;
  padding-left: 0;
  margin-top: 50px;
}

footer .footer-links > ul > li .menu {
  list-style: none;
  padding-left: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in;
  border-bottom: 1px solid grey;
  margin-top: 1.375rem;
}

footer .footer-links > ul > li > .menu[aria-expanded="true"] {
  max-height: 300px;
  transition: max-height 0.8s fade-in-out;
}

footer .footer-links > ul > li .heading {
  position: relative;
}

footer .footer-links > ul > li .heading .caret {
  position: absolute;
  margin-left: 5px;
  left: 93%;
  color: white;
  top: -4px;
}

footer .footer-links > ul > li .heading .caret.up {
  transform: rotate(180deg);
  top: 4px;
}

footer .footer-links a:hover, footer .footer-social-int a:hover {
  text-decoration: none;
}

footer .footer-links strong {
  color: var(--color-delta-gray);
  font-family: var(--heading-font-family-alt);
  letter-spacing: 1px;
  line-height: 1.125rem;
  font-size: var(--heading-font-size-s);
  cursor: pointer;
}

/* Search Help Topics */
footer .footer-search-help-topics {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

footer .footer-search-help-topics ul {
  list-style: none;
  margin-top: unset;
  padding-left: 0;
}

footer .footer-search-help-topics .first-row {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

footer .footer-search-help-topics .first-row ul {
  margin-bottom: 0;
  font-size: 46px;
}

footer .footer-search-help-topics .first-row .heading {
  font-size: 1.5rem;
}

footer .footer-search-help-topics svg {
  height: 32px;
  width: 32px;
  fill: var(--text-color-inverted);
}

footer .footer-search-help-topics .second-row {
  display: none;
}

footer .footer-search-help-topics .second-row .heading {
  font-family: var(--body-medium-font-family);
}

footer .footer-search-help-topics .second-row a {
  font-family: var(--heading-font-family);
  font-size: 1.125rem;
}

footer .footer-social-int li.color a,
footer .footer-social-int li.color svg {
  color: var(--color-delta-gray);
  font-size: var(--heading-font-size-xs);
  fill: var(--color-delta-gray);
}

footer .footer-search-help-topics .second-row a:hover {
  text-decoration: underline;
}

footer .footer-search-help-topics .second-row ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

footer .footer-social-int li.color svg {
  width: 1.75rem;
  height: 1.75rem;
}

footer .footer-search-help-topics .first-row ul svg {
  width: 25px;
  height: 25px;
}

@media (min-width: 768px) {
  footer .footer {
    max-width: 730px;
  }

  footer .footer > div > div {
    width: unset;
    margin: unset;
  }

  /* social and language links - last */
  footer .footer-social-int ul {
    padding-left: auto;
  }

  footer .footer-social-int li {
    display: inline-block;
    margin: 0 1rem;
  }

  footer .footer-links > ul > li {
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
  }
  
  footer .footer-social-int li:nth-child(2) {
    padding-left: 2rem;
    border-left: 1px solid var(--color-delta-gray);
  }

  footer .footer-links {
    width: unset;
    margin: 0 auto;
  }

  footer .footer-links > ul > li .menu {
    list-style: none;
    padding-left: 0;
    max-height: none;
    overflow: none;
    transition: none;
    border-bottom: none;
  }

  footer .footer-links > ul > li > .menu[aria-expanded="true"] {
    max-height: none;
    transition: none;
  }

  footer .footer-links > ul > li .heading {
    position: unset;
  }

  footer .footer-links > ul > li .heading .caret {
    display: none;  
  }
  
  footer .footer-links strong {
    cursor: none;
  }

  footer .footer-links > ul {
    flex-direction: unset;
  }

  footer .footer-search-help-topics .first-row .heading {
    font-size: 2.875em;
  }

  footer .footer-search-help-topics ul {
    list-style: none;
    margin-top: unset;
    padding-left: 40px;
  }

  footer .footer-search-help-topics .first-row ul {
    padding-left: 5px;
  }

  footer .footer-search-help-topics .first-row ul svg {
    width: 40px;
    height: 40px;
  }

  footer .footer-search-help-topics .second-row {
    display: inline-flex;
    font-size: 1.125rem;
    color: var(--color-delta-gray);;
    margin-bottom: 20px;
  }

  footer .footer-search-help-topics .second-row .heading {
    font-family: var(--body-medium-font-family);
  }

  footer .footer-search-help-topics {
    border-bottom: 1px solid var(--color-delta-gray);
  }
}

@media (min-width: 992px) {
  footer .footer {
    max-width: 976px;
  }
}