.blade {
    max-width: 700px;
    margin: 1rem auto;
    color: var(--color-delta-blue);
}

.blade > div {
    display: flex;
    border-bottom: 1px solid var(--color-delta-gray-middle2);
    flex-direction: column;
    align-items: center;
}

.blade .blade-image {
    box-sizing: border-box;
}

.blade .blade-image .button {
    margin: 0 0 2rem;
}

.blade .blade-body {
    box-sizing: border-box;
    padding: 2rem 0;
    position: relative;
}

.blade .blade-body :is(h3, h4) {
    margin-top: 0;
    font-family: var(--heading-font-family);
    letter-spacing: 3.2px;
    text-transform: uppercase;
}

.blade .blade-body h3 { font-size: var(--body-font-size-xl); }
.blade .blade-body h4 { font-size: var(--body-font-size-l); }

.blade .blade-body :is(h3, h4) a {
    font-family: inherit;
}

.blade .blade-body p {
    font-size: var(--body-font-size-m);
}

.blade a:not(.button):any-link {
    color: var(--link-color);
}

/* Emphasized variant */

.blade.emphasized .blade-body {
    padding: 2rem;
    background-color: var(--overlay-background-color);
}

.blade.emphasized .blade-body :is(h3, h4){
    font-family: WhitneyCondensed-Semibold, -apple-system, blinkmacsystemfont, 'segoe ui', roboto, 'helvetica neue', arial, sans-serif;
    font-size: 1rem;
    letter-spacing: 1.4px;
}

.blade.emphasized .blade-body h3 { font-size: var(--body-font-size-l); }
.blade.emphasized .blade-body h4 { font-size: var(--body-font-size-m); }

.blade.emphasized .blade-body :is(h3, h4) a {
    font-family: var(--button-font-family);
}

.blade.emphasized .blade-body .button {
    min-width: auto;
}

.blade.emphasized .blade-body > :first-child::after {
    margin: 2rem 0;
    content: '';
    display: block;
    background-color: var(--color-delta-red);
    height: 3px;
    width: 5rem;
}

.blade.emphasized > div {
    margin-bottom: 2rem;
    border: none;
}

/* Link variant */

.blade.is-link .blade-body::after {
    position: absolute;
    height: .7rem;
    width: .7rem;
    content: '';
    border: 0 solid var(--color-delta-red);
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);
    display: block;
    bottom: 30%;
    right: 1.5rem;
}

.blade.is-link .blade-body {
    cursor: pointer;
}

@media (min-width: 900px) {
    .blade > div {
        flex-direction: unset;
        align-items: stretch;
    }

    .blade {
        max-width: 1200px;
    }

    .blade .blade-image {
        position: relative;
        flex: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .blade .blade-image .button {
        margin: 0;
    }

    .blade .blade-image picture,
    .blade .blade-image img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: scale-down;
    }
    
    .blade .blade-body {
        flex: 7;
        padding: 4rem 2rem;
    }

    .blade .button-container {
        margin: 0;
    }

    /* Alternating rows variant */

    .blade.alternate > div:nth-child(2n) {
        flex-direction: row-reverse;
    }

    /* Emphasized variant */

    .blade.emphasized .blade-image {
        flex: 4;
    }

    .blade.emphasized .blade-image img {
        object-fit: cover;
    }

    .blade.emphasized .blade-body {
        flex: 8;
        padding: 2rem;
    }

    .blade.emphasized .blade-body p {
        font-size: var(--body-font-size-l);
    }

    /* Large variant */

    .blade.large .blade-image {
        flex: 2 1 600px;
    }

    .blade.large .blade-body {
        flex: 1 2 300px;
    }

}
