footer {
  padding: 2rem;
  background-color: #11172b;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer {
  display: flex;
}

/* Info modal */
footer .footer.block div > ul {
  display: flex;
  color: #fff;
  justify-content: space-between;
}

footer .footer.block div > ul > li {
  display: inherit;
  flex-direction: column;
  margin-left: auto;
}

footer .footer.block div > ul > li > ul {
  list-style: none;
  margin-left: -40px;
}

strong {
  color: #7d8388!important;
}