footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

/* Copyright */
footer .footer.block div > div:nth-last-of-type(3) {
  color: darkgray;
  text-align: center;
}

/* terms and conditions */
footer .footer.block div > div:nth-last-of-type(2) {
  color: darkgray;
  text-decoration: none;
  text-decoration-color: var(--link-color);
  text-align: center;
}

/* social and language links */
footer .footer.block div > div:last-of-type > ul {
  white-space: nowrap;
  overflow: hidden;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  text-decoration-color: var(--link-color);
}

footer .footer.block div > div:last-of-type > ul > li {
  display: inline-block;
  margin: 0 1rem;
  vertical-align: middle;
  line-height: 2rem;
}