footer {
  padding: 2rem;
  background-color: var(--color-delta-blue-dark);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 375px;
  margin: auto;
}

footer p {
  margin: 0;
}

footer a:any-link {
  color: #fff;
  text-decoration-thickness: unset;
}

/* Search Help Topics */
footer .footer-search-help-topics {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

footer .footer-search-help-topics ul {
  list-style: none;
  margin-top: 0px;
}

footer .footer-search-help-topics > ul > li:first-child {
  display: flex;
  font-size: 46px;
  justify-content: center;
}

footer .footer-search-help-topics svg {
  height: 32px;
  width: 32px;
  fill: var(--text-color-inverted);
}

footer .footer-search-help-topics > ul > li:not(:first-child) {
  display: inline-flex;
  font-size: 18px;
  color: var(--color-delta-gray);;
  margin-top: 0px;
  margin-bottom: 20px;
}

footer .footer-search-help-topics > ul > li:not(:first-child) a:hover {
  text-decoration: underline;
}

footer .footer-search-help-topics > ul > li > ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

footer .footer-search-help-topics::after {
  content: '';
  display: block;
  background-color: var(--color-delta-gray);
  height: 0.5px;
  margin-left: max(40px, calc((100% - 1200px) / 2));
  margin-right: max(40px, calc((100% - 1200px) / 2));
}

/* Copyright */
footer .footer-copyright {
  color: var(--color-delta-gray);
  text-align: center;
  padding-top: 2rem;
  font-size: .9rem;
  font-size: var(--body-font-size-xxs);
}

/* terms and conditions */
footer .footer-legal {
  color: var(--color-delta-gray);
  text-align: center;
  padding-top: .5rem;
  font-size: var(--body-font-size-xxs);
}

/* website feedback */
footer .footer-feedback {
  color: white;
  text-align: center;
  padding-top: 1.2em;
}

/* social and language links - last */
footer .footer-social-int ul {
  white-space: nowrap;
  overflow: hidden;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

footer .footer-links > ul > li {
  display: inherit;
  flex-direction: column;
  padding-left: 0;
}

footer .footer-social-int li:not(:first-child) {
  display: inline-block;
}

footer .footer-social-int a {
  color: white;
  vertical-align: middle;
}

footer .icon > svg {
  vertical-align: middle;
  padding: .25rem;
}

/* globe icon only */
footer .icon-globe > svg {
  fill: white;
}

/* Info modal */
footer .footer > div > div {
  width: 330px;
  margin: 0 auto;
}

footer .footer-links {
  font-family: var(--body-medium-font-family);
  width: 330px;
  margin: 0 auto;
}

footer .footer-links > ul {
  display: flex;
  color: #fff;
  justify-content: center;
  flex-direction: column;
  padding-left: 0;
}

footer .footer-links > ul > li .menu {
  list-style: none;
  padding-left: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  border-bottom: 1px solid grey;
}

footer .footer-links > ul > li > .menu.show {
  max-height: 300px;
  transition: max-height 0.8s ease-out;
}

footer .footer-links > ul > li .heading {
  position: relative;
}

footer .footer-links > ul > li .heading .caret {
  position: absolute;
  margin-left: 5px;
  left: 93%;
  color: white;
  top: -4px;
}

footer .footer-links > ul > li .heading .caret.up {
  transform: rotate(180deg);
  top: 4px;
}

footer .footer-links a {
  text-decoration: none;
  line-height: 2.2rem;
}

footer .footer-links a:hover, footer .footer-social-int a:hover {
  text-decoration: none;
}

footer .footer-links strong {
  color: var(--color-delta-gray);
  font-family: var(--heading-bold-font-family);
  letter-spacing: 1px;
  cursor: pointer;
}

@media (min-width: 768px) {
  footer .footer > div > div {
    width: unset;
    margin: unset;
  }

  /* social and language links - last */
  footer .footer-social-int ul {
    padding-left: auto;
  }

  footer .footer-social-int li {
    display: inline-block;
    margin: 0 1rem;
  }
  
  footer .footer-links {
    width: unset;
    margin: 0 auto;
  }

  footer .footer-links > ul > li .menu {
    list-style: none;
    padding-left: 0;
    max-height: none;
    overflow: none;
    transition: none;
    border-bottom: none;
  }

  footer .footer-links > ul > li > .menu.show {
    max-height: none;
    transition: none;
  }

  footer .footer-links > ul > li .heading {
    position: unset;
  }

  footer .footer-links > ul > li .heading .caret {
    display: none;  
  }
  
  footer .footer-links strong {
    cursor: none;
  }

  footer .footer-links > ul {
    flex-direction: unset;
  }
  
  footer .footer-links > ul > li {
    margin-left: auto;
    margin-right: auto;
  }

  footer .footer {
      max-width: 750px;
    }
}

  @media (min-width: 900px) {
    footer .footer {
      max-width: 1200px;
    }
  }

@media (max-width: 900px) {
  footer .footer-search-help-topics > ul > li:first-child {
    font-size: 24px;
  }

  footer .footer-search-help-topics > ul > li:not(:first-child) {
    display: none;
  }
  
  footer .footer-search-help-topics::after {
    display: none;
  }
}