/* below the fold CSS goes here */
@font-face {
  font-family: Whitney-Light;
  src: url("./fonts/A32A3E152E391B379.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: Whitney-LightItalic;
  src: url("./fonts/560247561D61316B0.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: italic
}

@font-face {
  font-family: Whitney-Book;
  src: url("./fonts/CB8837CA379681FED.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: Whitney-BookItalic;
  src: url("./fonts/C38C81DE2B6590D68.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: italic
}

@font-face {
  font-family: Whitney-Medium;
  src: url("./fonts/AABA9C13AF9C5C638.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: Whitney-MediumItalic;
  src: url("./fonts/A5B691C26F8CABBC2.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: italic
}

@font-face {
  font-family: Whitney-Semibold;
  src: url("./fonts/3955045D2CF71A4B6.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: Whitney-SemiboldItalic;
  src: url("./fonts/2AEF2F564D90434B1.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: italic
}

@font-face {
  font-family: Whitney-Bold;
  src: url("./fonts/5F3C862F467F43533.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: Whitney-Black;
  src: url("./fonts/A4735881B447BC24E.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: WhitneyCondensed-Light;
  src: url("./fonts/0D9C4EC6CE739C59E.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: WhitneyCondensed-Book;
  src: url("./fonts/D1471883735440A2A.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: WhitneyCondensed-Medium;
  src: url("./fonts/5918DFA7BE09ECE71.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: WhitneyCondensed-Semibold;
  src: url("./fonts/C2031C89118431E67.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: WhitneyCondensed-Bold;
  src: url("./fonts/425789FA99F33DFE6.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: WhitneyCondensed-Black;
  src: url("./fonts/B08100E88A772CF90.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal
}

/* deep header nav styles */
header nav[aria-expanded=true] .nav-sections > ul > li > ul > li {
  padding: 0 24px;
  line-height: 40px;
}

header nav[aria-expanded=true] .nav-planners > ul > li > ul a,
header nav[aria-expanded=true] .nav-sections > ul > li > ul a {
  padding: 0;
}

header nav[aria-expanded=true] .nav-planners > ul > li > ul br,
header nav[aria-expanded=true] .nav-sections > ul > li > ul br {
  display: none;
}

header nav[aria-expanded=true] .nav-sections > ul > li > ul > li > ul > li {
  color: var(--color-delta-gray-middle);
  font-family: Whitney-Book, apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
}

header nav[aria-expanded=true] .nav-sections > ul > li > ul > li:first-child > ul > li {
  color: var(--text-color-inverted);
  font-family: var(--body-medium-font-family);
  font-size: 16px;
  font-weight: bold;
}

header nav[aria-expanded=true] .nav-sections ul li[aria-expanded=true] ul {
  display: block;
}

@media (min-width: 992px) {
  header nav[aria-expanded=true] .nav-sections ul li[aria-expanded=true] {
    position: initial;
  }

  header nav[aria-expanded=true] .nav-sections ul li[aria-expanded=true] > ul {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    gap: 0;
    width: 100vw;
    top: 77px;
    left: 50%;
    transform: translateX(-50%);
  }

  header nav[aria-expanded=true] .nav-sections ul li[aria-expanded=true] > ul::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50vw);
    background-color: var(--highlight-background-color);
    z-index: -1;
  }

  header nav[aria-expanded=true] .nav-sections ul li[aria-expanded=true] > ul::after {
    content: '';
    position: absolute;
    left: 50%;
    height: calc(100% - 2*18px);
    border-right: 1px solid var(--color-delta-blue-middle);
  }

  header nav[aria-expanded=true] .nav-sections ul li[aria-expanded=true] ul ul {
    flex-direction: column;
  }

  header nav[aria-expanded=true] .nav-sections ul li[aria-expanded=true] > ul > li {
    box-sizing: border-box;
    flex-basis: 16.7%;
  }

  header nav[aria-expanded=true] .nav-sections ul li[aria-expanded=true] > ul > li:first-child {
    flex-basis: 25%;
    margin-left: 25%;
  }

  header nav[aria-expanded=true] .nav-sections > ul > li > ul > li:first-child > ul {
    position: relative;
  }

  header nav[aria-expanded=true] .nav-sections > ul > li > ul > li:first-child > ul > li:first-child img,
  header nav[aria-expanded=true] .nav-sections > ul > li > ul > li:first-child > ul > li:hover img {
    display: block;
    position: absolute;
    top: 0;
    left: calc(-100% - 48px);
    height: 100%;
    width: calc(100% + 24px);
    object-fit: cover;
  }
    
}

@media (min-width: 1200px) {
  header nav[aria-expanded=true] .nav-sections ul li[aria-expanded=true] > ul {
    top: 68px;
    max-width: 1140px;
  }
}

@media (min-width: 1440px) {
  header nav[aria-expanded=true] .nav-sections ul li[aria-expanded=true] > ul {
    top: 77px;
    max-width: 1156px;
  }
}

@media (min-width: 1600px) {
  header nav[aria-expanded=true] .nav-sections ul li[aria-expanded=true] > ul {
    max-width: 1180px;
  }
}
