.tabs-wrapper {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.tabs-buttons {
  display: flex;
  gap: 1rem;
  padding: 0 calc(50% - 3rem);
  margin: 0 auto 1rem;
  max-width: 100%;
  border-bottom: 1px solid #e9ecef;
  justify-content: start;
  overflow-x: hidden;
}

.tab-button {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 0;
}

.tab-button[aria-selected="true"] {
    border-bottom: 3px solid var(--link-color);
}

.tab-button figure {
  margin: 0;
}

.tab-panel {
  padding-top: 30px;
}

.tab-button figcaption {
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  font-family: var(--body-font-family);
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--color-delta-blue);
  letter-spacing: 0;
}

.tab-button[arial-selected="true"] figcaption {
  font-weight: bold;
}

@media (min-width: 992) {
  .header {
    height: 100%;
  }
  
}

@media (max-width: 768px) {
  .tabs-buttons {
    padding: 0 4rem;
    justify-content: center;
    width: fit-content;
    max-width: none;
    overflow-x: visible;
  }

  .tabs-controls {
    display: none;
  }
}