.tabs-wrapper {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.tabs-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.tab-button {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 0;
}

.tab-button figure {
  margin: 0;
}

.tabs p {
  font-family: var(--heading-font-family);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.125rem;
  color: var(--color-delta-blue);
  padding: 10px;
}


@media (min-width: 992) {
  .header {
    height: 100%;
  }
  
}