.tabs-wrapper {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.tabs-buttons {
  display: flex;
  gap: 1rem;
  padding: 0 calc(50% - 3rem);
  margin: 0 auto 1rem;
  max-width: 100%;
  border-bottom: 1px solid #e9ecef;
  justify-content: start;
  overflow-x: hidden;
}

.tab-button {
  flex: 0 0 6rem;
  margin: 0;
  padding: 0;
  border: none;
  min-width: 0;
  text-decoration: none;
}

.tabs-controls {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.tabs-controls button {
  padding: 0;
  min-width: 0;
  width: auto;
  border: none;
  background: none;
}

.tabs-controls button:first-child::before {
  content: url(https://www.delta.com/content/dam/delta-www/responsive/apps/stackcard/Left.png);
}

.tabs-controls button:last-child::before {
  content: url(https://www.delta.com/content/dam/delta-www/responsive/apps/stackcard/Right.png);
}

.active {
    border-bottom: 3px solid var(--link-color);
    text-transform: capitalize;
}


.tab-button figure {
  margin: 0;
}

.tabs p {
  font-family: var(--heading-font-family);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.125rem;
  color: var(--color-delta-blue);
}

.tab-panel {
  padding-top: 30px;
}

figcaption {
  padding-top: 1.25rem;
}

@media (min-width: 768px) {
  .tabs-buttons {
    padding: 0 4rem;
    justify-content: center;
    width: fit-content;
    max-width: none;
    overflow-x: visible;
  }

  .tabs-controls {
    display: none;
  }
}